p {
    font-size:10pt;
}

p:first-child
{font-size:9mm;font-styl:italic;}


div#pierwszy_iwasieczko {
    width: 724pt;
    background-color: pink;
    
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border: 7px solid purple;
}

div#drugi_iwasieczko {
    width: 924pt;
   margin-left: auto; 
   margin-right: auto;
    background-color: lightgreen;
        border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border: 3px solid black;
}

div#trzeci_iwasieczko {
    width: 1124pt;
   margin-left: auto; 
    margin-right: auto;
    background-color: lightblue;
        border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 5px solid navy;
    

}
